body{
    font-family: 'Titillium Web', sans-serif;
}
.espectador{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.llegenda p{
    text-align: center;
    margin:20px;
}
.llegenda p > span{
    margin: 0px 10px 0px 20px;
    display: inline-block;
}
.llegenda p img{
    margin-right: 10px;
}
.letter_dia{
    color: #63639C;
}
.letter_espec{
    color: #FD9B37;
}
.elegir_fecha{
    width: 25%;
    margin:auto;
    margin-top: 2%;
}
.mostra_butaques{
    display: table; 
    margin: auto;
    width: 60%;
}
.blank{
    margin: auto;
}
table{
    width: 100%;
}
td{
    padding: 3px 10px;
    border: none;
    text-align: center;
}
th{
    border: none;

}
.pantalla{
    text-align: center;
}
.content{
    width: 100%;
    display: table;
}
.izquierda{
    width: 40%;
    float: left;
}
.derecha{
    width: 40%;
    float: left;
}
.Mostrar_preu{
    width: 20%;
    float: left;
}
