.buscar{
    text-align: center;
}

.four input{
    width: 125px;
    height: 70px;
    margin: auto;
}
.intoData{
font-size: 30px;
color: #FD9B37;
}

.calendari_setmana{
    width: 100%;
}

.calendari_setmana a {
    text-decoration: unset;
    color: black;
}

.calendari_setmana a:hover{
   color: #1EAEDB;
}

@media screen and (max-width: 600px) {
    .calendari_setmana, .lastWeek, .nextWeek{
        display: none;
    }
}

.calendari_setmana table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
  }
.calendari_setmana td, .calendari_setmana th {
    border: 1px solid #dddddd;
    border-collapse: separate;
    text-align: center;
    padding: 8px;
    width: 5%;
}

.lastWeek{
    float: left;
}
.nextWeek{
    float: right;
}

.resultats{
    font-size: 25px;
    font-style: oblique;
}
.part1 > img{
    height: 200px;
    border-radius: 10px;
}
.link{
    font-size: 30px;
}
p{
    font-size: 15px;
}
.info{
    margin-top: -15px;
    color: grey;
    font-size: 15px;
  
}