body{
    font-family: 'Titillium Web', sans-serif;
}
.content{
    width: 100%;
}
.pantalla{
    text-align: center;
}
.llegenda p{
    text-align: center;
    margin:20px;
}
.llegenda p > span{
    margin: 0px 10px 0px 50px;
    display: inline-block;
}
.llegenda p img{
    margin-right: 10px;
}

.espectador{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.letter_dia{
    color: #63639C;
}
.letter_espec{
    color: #FD9B37;
}

.sala{
    display: table; 
    margin: auto;
}
table{
    width: 100%;
}
td{
    padding: 3px 25px;
    border: none;
    text-align: center;
}
th{
    border:none;
}
.info_compra{
    line-height: 3rem;
    margin-left: 40px;
    width: 100%;
}

.but_mos{
    display: inline-block;
    margin-left: 0.5rem;
}
.submit{
    color: #63639C;
}
@media (max-width: 1300px){
    .info_compra {
        width: 100% !important;
    }
    .llegenda{
        width: 100% !important;
    }
}
