.columns{
    position: relative;
}
.info_entrada_img{
    width: 200px;
    display: table;
    margin: auto;
    margin-bottom: 5%;
}
.info_entrada p{
    margin: 1px;
}
.info_entrada h4{
    margin: 0px;
}
.info_no_entrada h1{
    margin: 10%;
    text-align: center;
}
.preu_total{
    float: right;
}
.info_no_entrada_hr{
    border-bottom: 1px solid #ff9b21;
    margin: 15px 0px;
}
.codiEntrada{
    margin: 1px;
    text-align: center;
}