.formilari_login{
    width: 50%;
    margin: auto;
    margin-top:5%;
    background-color:  #d9d9d9;
    border:  1px solid  #d9d9d9;;
    border-radius:15px;
    box-shadow: 5px 5px 30px #aaaaaa;
}
.formilari_login>form{
    width: 70%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color:  #d9d9d9;
}
.formilari_login>form>input{
    width: 100%;
}