header a{
    color: #2D2D71;
    text-decoration: none;
}
.crumb{
    color: #ff9b21;
}
header a:hover{
    color: #ff9b21;
}

.center_content{
    text-align: center;
    padding-top: 3%;
    height: 10%;
   
}
a:link{
    text-decoration: none;
}
.button:hover:not(.active) {background-color: #ddd;}
#poster{transition: transform 1.3s;
    padding-bottom: 1%;
    
}

#banner>img{
    height: 30%;
    width: 30%;
    padding-right: 90%;

}
#poster:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.menu_item:hover{
    font-weight: 600;
}
.menu_item{
display: inline;}
.movie_poster{
    width: 30%;
    margin-left: 35%;
}
.detalls{
    float: right;
    padding-right:50%; 
}
.detalls a{
    font-size: 35px;
}

.horario {
    display: table;
    width: 100%;
}
.reserva {
    margin:auto;
    padding: 2%;
    margin-top:2% ;
    display: table;
    width: 40%;
}

.poster{
    width: 28%;
    margin: auto;
}
.movie_poster{
    width: 100%;
    margin:auto;
    margin-top:5%;
}

.warningBox > h3{
    margin:2% 0; 
    
}