html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 60px;
    font-family: 'Titillium Web', sans-serif;
}
header{
    width: 100%;
    position: relative;
    background-color: #63639b;
}
.conten{
    width: 100%;
    height: 58px;
    display: table;
}

.logo {
    position: relative;
    float: left;
    width: 185px;
    margin-top: 5px;
}

.logo>img {
    width: 80px;
    margin-right: 10%;
    float: right;
}

.menu {
    position: relative;
    float: left;
    margin-top: 12px;
    border-left: 2px solid;
}
.menu > a{
    margin-left:30px; 
    text-decoration: unset;
    color: #ffffff;
    font-size: 20px;
}

.menu > a:hover{
    color:#ff9b21;
}

.AdministradorBox{
    float: right;
    margin-right: 1%;
    margin-top:10px;
    width: 20%;

}
.AdministradorBox > a > button{
    margin-top:0px;
    color: #ffffff;
    background-color:#ff9b21;
    margin-right: 2%;
    float: right;
}

.titol{
    margin: 2% 0 5px 0 ;
    font-size: 3.6rem;
}

/*carousel*/
.img_box {
    width: 80%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin:auto;
    margin-top: 2%;
    margin-bottom: 5%;
}

@media screen and (max-width: 1300px) {
    .img_box {
        height: 350px;
    }
}
@media screen and (max-width: 1000px) {
    .img_box {
        height: 300px;
    }
}
@media screen and (max-width: 600px) {
    .img_box {
        height: 200px;
    }
}


.show_box img {
    width: 100%;
    height: 100%;
}



.left_icon,
.right_icon {
    position: absolute;
    height: 100%;
    width: 20%;
    top: 0px;
}

.left_icon:hover, .right_icon:hover {
    display:block;
    background-color:rgb(210, 193, 218);
    opacity: 0.5;
}

.right_icon {
    right: 0px;
}

.icon_content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 45%;
}

.icon_img {
    width: 20%;
    margin: auto;
}
/*form busca*/
.bucar_data { 
    margin: 0 auto; 
    width:340px;
}

/*pelicula*/
.pelicula{
    width: 100%;
    display: table;
}
.pelicula h3{
    color: black;
    text-align:center;
    margin: 5px 0;
    margin-bottom: 0;
    font-size: 20px;
}

.box{
    margin:4% 2%;
}
.item{
    margin: 0 1%;
    width: 23%;
    float: left;
    height: 430px;
    background-color:  #ffffff;
}
@media screen and (max-width: 1000px) {
    .item {
        width:48%;
    }
}
@media screen and (max-width: 600px) {
    .item {
        width:98%;
    }
}


.img_conten{
    width: 100%;
    height: 86%;
}
.key_img{
    width:100%;
    height: 100%;
    border-radius: 10px;
}
.text_conten{
    width: 100%;
    height: 7%;
    text-align: center;
    overflow: hidden;
}
.text_conten a{
    text-decoration: unset;
}
.text_data_conten{
    width: 100%;
    height: 7%;
    text-align: center;
}


.lineaSeparador{
    border-bottom: 5px solid #ff9b21;
    width:100%;
    margin: auto;
}
.marginCos{
    width: 80%;
    margin: auto;
}
@media screen and (max-width: 600px) {
    .marginCos{
        width: 95%;
    }
}

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: #63639b;
}
footer > div > span{
    width: 100%;
    margin: auto;
}
footer > div{
    width: 150px;
    margin: auto;
    margin-top: 1%;
}

 
/*alert box */
.warningBox{
text-align: center;
    border:  1px solid  #ffcc66;
    margin:5% 1%;
    margin-bottom: 30px;
    border-radius:15px;
    box-shadow: 5px 5px 30px #aaaaaa;

}
.infoBox{
    text-align: center;
    border:  1px solid  #b3ffff;
    margin:5% 1%;
    margin-bottom: 30px;
    border-radius:15px;
    box-shadow: 5px 5px 30px #aaaaaa;

}
.errorBox{
    text-align: center;
    border:  1px solid  #e9526b;
    margin:5% 1%;
    margin-bottom: 30px;
    border-radius:15px;
    box-shadow: 5px 5px 30px #aaaaaa;

}
.infoBox > h1, .warningBox > h1, .errorBox > h1 {
    margin:2% 0; 
}
.crumb{
    color: #ff9b21 !important;
}